broker-service/brokerApp
front-end/frontApp
authentication-service/authApp
logger-service/loggerApp
mail-service/mailApp
listener-service/listenerApp

database/postgres
database/mongo
database/rabbitmq
